판다스 는 분석하기 좋은 데이터 set 으로 변환하는거.  관계형 데이터 셋으로 불러들어올수있고, 
몽고디비로 불러들일수있다. 2차원데이터 즉 raw 와 column형태로 불러들인다.
 
수집할때부터 잘만들어놓으면 편하다 .

저장과 분석은 다르다, 저장은 여러 테이블로 나눠서 저장
분석은 하나의 테이블로 만들어서 저장, 
관계형데이터베이스 데이터프레임. 


판다스는 데이터프레임으로 2차원데이터형태를 나타냄
구성:헤더:컬럼네임, 인덱스, 한열은 시리즈라는 애, 데이터프레임.

In [1]:
import pandas as pd

In [51]:
df = pd.read_csv('data-zillow.csv')   #불러들일때 잘못 불러지면 ,  sep = ',' 를 붙여 줘야함. 엔진이 조금씩 달라서 똑바로 안읽어지면 구분자를 주어야한다

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10830 entries, 0 to 10829
Data columns (total 8 columns):
Date          10830 non-null object
RegionID      10830 non-null int64
RegionName    10830 non-null object
State         10830 non-null object
Metro         10256 non-null object
County        10830 non-null object
SizeRank      10830 non-null int64
Zhvi          10830 non-null int64
dtypes: int64(3), object(5)
memory usage: 677.0+ KB

In [4]:
df.describe()

            RegionID      SizeRank          Zhvi
count   10830.000000  10830.000000  1.083000e+04
mean    84344.818837   5414.500000  2.503076e+05
std    125679.686534   3126.496042  2.565582e+05
min      3301.000000      0.000000  3.740000e+04
25%     19346.250000   2707.250000  1.269000e+05
50%     35444.500000   5414.500000  1.818000e+05
75%     52608.250000   8121.750000  2.823500e+05
max    737791.000000  10829.000000  6.343800e+06

In [5]:
df.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

In [6]:
df.tail()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [7]:
df.sample(5)

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
9026,2017-05-31,30857,Chester,MA,Springfield,Hampden,9026,172200
2752,2017-05-31,32735,Mastic,NY,New York,Suffolk,2752,211000
7302,2017-05-31,15992,Wind Lake,WI,Racine,Racine,7302,250900
6628,2017-05-31,42194,Gaines,MI,Flint,Genesee,6628,159100
1961,2017-05-31,26624,Prichard,AL,Mobile,Mobile,1961,48100

In [8]:
df.columns

Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
       'SizeRank', 'Zhvi'],
      dtype='object')

In [17]:
df.loc[:,"RegionName"]

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [18]:
df.RegionName

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [19]:
df["RegionName"]

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [20]:
df.iloc[:,2]      #  , 앞에는 행이다 .

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [ ]:
# 4가지모두 색상이 없으니까 series 형식이다 .

In [24]:
df.count()

Date          10830
RegionID      10830
RegionName    10830
State         10830
Metro         10256
County        10830
SizeRank      10830
Zhvi          10830
dtype: int64

In [25]:
df.kurtosis()

RegionID     2.291461
SizeRank    -1.200000
Zhvi        82.042387
dtype: float64

In [28]:
df.skew()

RegionID    1.973159
SizeRank    0.000000
Zhvi        6.714811
dtype: float64

In [29]:
df.corr()

          RegionID  SizeRank      Zhvi
RegionID  1.000000  0.052025 -0.032184
SizeRank  0.052025  1.000000 -0.115621
Zhvi     -0.032184 -0.115621  1.000000

In [33]:
df.cov()

              RegionID      SizeRank          Zhvi
RegionID  1.579538e+10  2.044245e+07 -1.037760e+09
SizeRank  2.044245e+07  9.774978e+06 -9.274275e+07
Zhvi     -1.037760e+09 -9.274275e+07  6.582212e+10

In [34]:
#상관변수이런건안알려준다 , 상관계수 통계공부하라고

In [35]:
#예전에 R 을 rpy2 로 연결해서 썼었다 , 느렸음 90퍼의 R 기능들을 python 에서 쓸 수 있었다.
#파이썬을 더많이쓰는이유가 딥러닝때문에 , R에도 딥러닝 패키지있는데 10퍼센트도안됨성능이
#딥러닝도 할 수 있어야하고 , r 도 해야하고 파이썬도 해야하고 ,

In [36]:
df.corr()

          RegionID  SizeRank      Zhvi
RegionID  1.000000  0.052025 -0.032184
SizeRank  0.052025  1.000000 -0.115621
Zhvi     -0.032184 -0.115621  1.000000

In [37]:
#변수 두개 끼리의 관계,  corr ,

 ## 공분산 상관계수가 뭔지 공부하기 .

In [52]:
df.iloc[:,1:3]   #iloc 는 맨끝의 인덱스 포함안하니까 콜럼 2개나옴 3개아님

       RegionID         RegionName
0          6181           New York
1         12447        Los Angeles
2         17426            Chicago
3         13271       Philadelphia
4         40326            Phoenix
5         18959          Las Vegas
6         54296          San Diego
7         38128             Dallas
8         33839           San Jose
9         25290       Jacksonville
10        20330      San Francisco
11        10221             Austin
12        17762            Detroit
13        10920           Columbus
14        32811            Memphis
15        24043          Charlotte
16        17933            El Paso
17        44269             Boston
18        16037            Seattle
19         3523          Baltimore
20        11093             Denver
21        41568         Washington
22         6118          Nashville
23         5976          Milwaukee
24         7481             Tucson
25        13373           Portland
26        33225      Oklahoma City
27        40152              Omaha
28        23429        Albuquerque
29        18203             Fresno
...         ...                ...
10800     36944       Mount Sidney
10801     44501        Cedar Grove
10802     44615              Clark
10803     44844          Daleville
10804     49693        Piney Point
10805     50692               Almo
10806    171874         Bois D Arc
10807      7512            Tyaskin
10808      8646          Inverness
10809     13137             Otwell
10810     25468        Lake Hughes
10811     25749        Marble Hill
10812     25835               Mead
10813     32017           Hesperus
10814     32847            Midland
10815     46172             Lavaca
10816     46452       Mays Landing
10817     49856      Stinson Beach
10818     54802   Upper Brookville
10819     55357            Decatur
10820      5216         Horse Shoe
10821     12312             Laotto
10822     18317          Goldsboro
10823     19929          Phoenicia
10824     22147              Jones
10825     26077            Nehalem
10826     24105  Clear Lake Shores
10827    737788    Lebanon Borough
10828    182023            Henrico
10829     51793     East Hampstead

[10830 rows x 2 columns]

In [53]:
df.at[1,"Metro"] = df.at[1,"Metro"].replace("-"," ",1)

In [54]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [61]:
df.loc[1:7,'Metro':'County']

                            Metro        County
1  Los Angeles Long Beach-Anaheim   Los Angeles
2                         Chicago          Cook
3                    Philadelphia  Philadelphia
4                         Phoenix      Maricopa
5                       Las Vegas         Clark
6                       San Diego     San Diego
7               Dallas-Fort Worth        Dallas

In [62]:
df["새로운열"]  =  3

In [63]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,새로운열
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400,3
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900,3
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700,3
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300,3
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300,3
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500,3
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100,3
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700,3
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400,3
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300,3
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300,3
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600,3
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500,3
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300,3
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100,3
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800,3
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400,3
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600,3
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300,3
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100,3
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200,3
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900,3
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500,3
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900,3
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800,3
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900,3
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700,3
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100,3
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600,3
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700,3
...,...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500,3
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700,3
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600,3
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800,3
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000,3
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400,3
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000,3
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600,3
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300,3
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200,3
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700,3
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900,3
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600,3
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100,3
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900,3
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400,3
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800,3
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600,3
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600,3
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300,3
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700,3
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700,3
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700,3
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600,3
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200,3
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200,3
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900,3
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100,3
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800,3
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400,3

In [64]:
del df['새로운열']

In [65]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [66]:
# 추가 삭제는 파이썬 처럼 가능.

In [67]:
df.iloc[1,4]

'Los Angeles Long Beach-Anaheim'

In [124]:
df.iloc[[7,9],3:5]

  State              Metro
7    TX  Dallas-Fort Worth
9    FL       Jacksonville

In [76]:
df.loc[201:204,"State":"County"]

    State                           Metro         County
201    OH                          Canton          Stark
202    LA                     New Orleans      Jefferson
203    CA       Santa Maria-Santa Barbara  Santa Barbara
204    CA  Los Angeles-Long Beach-Anaheim    Los Angeles

In [77]:
df.loc[201:204,["State","County"]]

    State         County
201    OH          Stark
202    LA      Jefferson
203    CA  Santa Barbara
204    CA    Los Angeles

In [120]:
# iloc는 뒤에꺼 포함안된다 loc 는 뒤에꺼 포함된다.
#202째부터 205까지 , 4번째부터 6번째까지. 
df.iloc[201:205,3:6]

    State                           Metro         County
201    OH                          Canton          Stark
202    LA                     New Orleans      Jefferson
203    CA       Santa Maria-Santa Barbara  Santa Barbara
204    CA  Los Angeles-Long Beach-Anaheim    Los Angeles

In [82]:
df.loc[df.County=="Queens"]  #조건부 서식

         Date  RegionID RegionName State     Metro  County  SizeRank    Zhvi
0  2017-05-31      6181   New York    NY  New York  Queens         0  672400

In [83]:
df.loc[df.Date=='2017-05-32'] #어트리뷰트방식, 전체 어트리뷰트를 다 가져온다 .   loc 에서 컴마안하고 인자로하면 열가져옴.

Empty DataFrame
Columns: [Date, RegionID, RegionName, State, Metro, County, SizeRank, Zhvi]
Index: []

In [ ]:
#열가져오는 방식 dict 방식과 attribute 방식 .
#열가져올때는 loc,  iloc  
#열하고 행하고 동시에 가져오려면 앞에 , 가 붙었지만 그게없었으면 .

In [86]:
df.loc[1] #이건행전체 가져옴.

Date                              2017-05-31
RegionID                               12447
RegionName                       Los Angeles
State                                     CA
Metro         Los Angeles Long Beach-Anaheim
County                           Los Angeles
SizeRank                                   1
Zhvi                                  629900
Name: 1, dtype: object

loc,iloc 는 행가져온다 하지만 뒤에 , 하면 열까지 가져온다,

열만 가져오고싶을때는 4가지 방식이다 , dict,attrib, loc , iloc 로 열만 가져올 수 있다. 전체 행 다가져오는것 쓸수잇으니까

## 행만 가져오고싶을때는 2가지방식이다  loc,iloc ,
## 셀만 가져오고싶을때는 4가지 loc,iloc,at,iat

조건을 줄 수 있다  . loc 는 기본적으로행만가져오는데  " , " 가 있으면 행하고 열하고 잡아서 슬라이싱이 가능하다 . 
" , "  가 없으면 행만 가져온다 . 
어떤행을 가져올지는 조건을 줄 수 도 있음.

캘리포니아 주에 모든 행을 알고싶다면.

In [92]:
df.loc[df.State=='CA']  # . 썻으니 그 열중에서 CA 인 값만 가져옴 .  df.State 는 열다 가져옴, attribute 방식.

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

In [93]:
df.loc[df['State']=='CA'] # 딕셔너리방식으로 조건줌

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

#행만 가져오고싶으면 방식은 ,  몇가지

파이썬에서는 iloc 로 모든것을 다 할 수 있다. iloc 쓰기

filter map reduce  , appl
pandas 는 EDA  와 전처리하는 방식이니까 정규식과함께쓰인다.

##  값을 가져와서 Sorting 하는것.  Sort

In [99]:
df.sort_values('RegionID',ascending=False)   # axis 가  0 이면 행 ,   1 이면 열을 뜻한다.  ascending 이 기본디폴트, inplace 는 mutable, inplace false 하면 temp 객체 , 실제 기본 값에 반영되지않는다.

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
...,...,...,...,...,...,...,...,...
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900

In [100]:
#pandas 는 동시에 여러개 쓰면 리스트다, 
df.sort_values(['RegionID','State'])# 리스트는 순서가있으니까. regionID 로 먼저 sorting 하고 같은게있는경우 두번쨰로 state 로 정렬한다

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [101]:
sorted = df.sort_values(by=['Metro','County','Zhvi'],ascending=[True,True,False])

In [103]:
sorted.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
8420,2017-05-31,19269,McCleary,WA,Aberdeen,Grays Harbor,8420,170700
9401,2017-05-31,33215,Ocean Shores,WA,Aberdeen,Grays Harbor,9401,152400

In [109]:
df.sort_values('RegionID',axis=1)

KeyError: 'RegionID'

정렬의 기준이 있어야하는데 ,여기서 서로 다른 행끼리는 비교가 안됨

In [111]:
#inplace 로 바꿨다가  다시 reset 인덱스하면 (inplace= True ) 로 설정하고 , sort 된결과로 바뀜.

In [112]:
#reset 인덱스하면 과거의 인덱스가 다시 추가됨.

In [113]:
#drop index 하면 과거의 인덱스를 없에줌.

In [114]:
#판다스는 가능하면 안전한게 default 옵션임

In [115]:
#  reset 인덱스도 많이쓴다 .

In [125]:
# 데이터 처리에서 가장 중요한거 전처리.
#정규식은 매우중요
#어제는 불러들이는거 오늘하는것은 불러드린것을 수정하는기법들

--------------------------------------------

펑셔널프로그래밍에서 중요한것 MAP, Filter , Reduce 세가지가 있다.

In [ ]:
df.filter

In [128]:
df.filter(items=['State','Metro']) #like는 특정단어를 포함하는지 안하는지. regex= '^Region',axis=1

      State                           Metro
0        NY                        New York
1        CA  Los Angeles Long Beach-Anaheim
2        IL                         Chicago
3        PA                    Philadelphia
4        AZ                         Phoenix
5        NV                       Las Vegas
6        CA                       San Diego
7        TX               Dallas-Fort Worth
8        CA                        San Jose
9        FL                    Jacksonville
10       CA                   San Francisco
11       TX                          Austin
12       MI                         Detroit
13       OH                        Columbus
14       TN                         Memphis
15       NC                       Charlotte
16       TX                         El Paso
17       MA                          Boston
18       WA                         Seattle
19       MD                       Baltimore
20       CO                          Denver
21       DC                      Washington
22       TN                       Nashville
23       WI                       Milwaukee
24       AZ                          Tucson
25       OR                        Portland
26       OK                   Oklahoma City
27       NE                           Omaha
28       NM                     Albuquerque
29       CA                          Fresno
...     ...                             ...
10800    VA                        Staunton
10801    WV                      Charleston
10802    CO               Steamboat Springs
10803    VA                         Roanoke
10804    MD       California-Lexington Park
10805    KY                          Murray
10806    MO                     Springfield
10807    MD                       Salisbury
10808    CA                   San Francisco
10809    IN                          Jasper
10810    CA  Los Angeles-Long Beach-Anaheim
10811    GA                         Atlanta
10812    CO                         Greeley
10813    CO                         Durango
10814    GA                        Columbus
10815    AR                      Fort Smith
10816    NJ                   Atlantic City
10817    CA                   San Francisco
10818    NY                        New York
10819    AR                    Fayetteville
10820    NC                       Asheville
10821    IN                    Kendallville
10822    MD                             NaN
10823    NY                        Kingston
10824    AL                      Montgomery
10825    OR                             NaN
10826    TX                         Houston
10827    NJ                        New York
10828    VA                        Richmond
10829    NH                          Boston

[10830 rows x 2 columns]

In [130]:
filtered_data= df.filter(regex="Region",axis=1) # 해당 컬럼에 region이라는것이 있는 데이터 . 
filtered_data.head()

   RegionID    RegionName
0      6181      New York
1     12447   Los Angeles
2     17426       Chicago
3     13271  Philadelphia
4     40326       Phoenix

In [ ]:
filtered_data =  d

In [132]:
df['Zhvi']>500000

0         True
1         True
2        False
3        False
4        False
5        False
6         True
7        False
8         True
9        False
10        True
11       False
12       False
13       False
14       False
15       False
16       False
17        True
18        True
19       False
20       False
21        True
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10800    False
10801    False
10802    False
10803    False
10804    False
10805    False
10806    False
10807    False
10808     True
10809    False
10810    False
10811    False
10812    False
10813    False
10814    False
10815    False
10816    False
10817     True
10818     True
10819    False
10820    False
10821    False
10822    False
10823    False
10824    False
10825    False
10826    False
10827    False
10828    False
10829    False
Name: Zhvi, Length: 10830, dtype: bool

In [135]:
df.loc(df['Zhvi']>500000)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [136]:
df[df.Zhvi>=1000000]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
181,2017-05-31,54626,Sunnyvale,CA,San Jose,Santa Clara,181,1509300
234,2017-05-31,13713,Santa Clara,CA,San Jose,Santa Clara,234,1071500
238,2017-05-31,16992,Berkeley,CA,San Francisco,Alameda,238,1102000
308,2017-05-31,13699,San Mateo,CA,San Francisco,San Mateo,308,1198300
360,2017-05-31,26964,Santa Monica,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,360,1423000
423,2017-05-31,13712,Santa Barbara,CA,Santa Maria-Santa Barbara,Santa Barbara,423,1050900
433,2017-05-31,20128,Redwood City,CA,San Francisco,San Mateo,433,1373600
479,2017-05-31,32999,Mountain View,CA,San Jose,Santa Clara,479,1523400
539,2017-05-31,47164,Pleasanton,CA,San Francisco,Alameda,539,1008800
579,2017-05-31,26374,Palo Alto,CA,San Jose,Santa Clara,579,2572300
639,2017-05-31,50749,Arcadia,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,639,1110800
673,2017-05-31,45565,Greenwich,CT,Stamford,Fairfield,673,1351300
686,2017-05-31,53571,Newport Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,686,1725900
757,2017-05-31,4281,Cupertino,CA,San Jose,Santa Clara,757,1847800
902,2017-05-31,38134,Danville,CA,San Francisco,Contra Costa,902,1222700
982,2017-05-31,17272,Campbell,CA,San Jose,Santa Clara,982,1143100
1079,2017-05-31,39748,Menlo Park,CA,San Francisco,San Mateo,1079,1968500
1132,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
1242,2017-05-31,10389,Beverly Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1242,3041900
1275,2017-05-31,19100,Los Gatos,CA,San Jose,Santa Clara,1275,1742500
1281,2017-05-31,19177,Manhattan Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1281,2241400
1368,2017-05-31,54053,Rancho Palos Verdes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1368,1303100
1370,2017-05-31,31623,Foster City,CA,San Francisco,San Mateo,1370,1497000
1393,2017-05-31,6916,San Carlos,CA,San Francisco,San Mateo,1393,1619900
1417,2017-05-31,33874,Saratoga,CA,San Jose,Santa Clara,1417,2453600
1459,2017-05-31,17235,Burlingame,CA,San Francisco,San Mateo,1459,1870200
1476,2017-05-31,39511,Los Altos,CA,San Jose,Santa Clara,1476,2822900
1588,2017-05-31,19379,Mill Valley,CA,San Francisco,Marin,1588,1471500
1609,2017-05-31,41610,Wellesley,MA,Boston,Norfolk,1609,1239900
...,...,...,...,...,...,...,...,...
9339,2017-05-31,38980,Hidden Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,9339,3186400
9370,2017-05-31,22015,Laurel Hollow,NY,New York,Nassau,9370,1585300
9417,2017-05-31,43996,Avalon,NJ,Ocean City,Cape May,9417,1167500
9432,2017-05-31,116639,Mission Canyon,CA,Santa Maria-Santa Barbara,Santa Barbara,9432,1339500
9450,2017-05-31,57134,Woodway,WA,Seattle,Snohomish,9450,1256800
9464,2017-05-31,157546,Chevy Chase Terrace,MD,Washington,Montgomery,9464,1149900
9523,2017-05-31,38975,Hewlett Harbor,NY,New York,Nassau,9523,1304800
9602,2017-05-31,33312,Palos Verdes Peninsula,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,9602,1557700
9714,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
9819,2017-05-31,38157,Deal,NJ,New York,Monmouth,9819,1977000
9873,2017-05-31,398956,New Shoreham,RI,Providence,Washington,9873,1079400
9913,2017-05-31,52358,Gulf Stream,FL,Miami-Fort Lauderdale,Palm Beach,9913,1719000
9923,2017-05-31,42091,Bell Canyon,CA,Ventura,Ventura,9923,1643200
9953,2017-05-31,44575,Chilmark,MA,Vineyard Haven,Dukes,9953,1534600
10011,2017-05-31,23619,Bay Head,NJ,New York,Ocean,10011,1228600
10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
10179,2017-05-31,49145,Glenbrook,NV,Gardnerville Ranchos,Douglas,10179,1129700
10180,2017-05-31,124901,Jupiter Island,FL,Port St. Lucie,Martin,10180,4248200
10193,2017-05-31,28049,Yarrow Point,WA,Seattle,King,10193,2556000
10203,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
10205,2017-05-31,3734,Boca Grande,FL,Fort Myers,Lee,10205,1382300
10319,2017-05-31,54570,Stone Harbor,NJ,Ocean City,Cape May,10319,1286400
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10360,2017-05-31,11829,Harvey Cedars,NJ,New York,Ocean,10360,1012000
10375,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
10457,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600

In [146]:
filtered_data  = df.filter(like='Met',axis=1) #like는 그 단어를 포함하는것을 가져오게 axis 1 이면 열을 가져와라.

In [147]:
filtered_data.head()

                            Metro
0                        New York
1  Los Angeles Long Beach-Anaheim
2                         Chicago
3                    Philadelphia
4                         Phoenix

In [148]:
#컬럼뽑느것은 dict,attribute,loc,iloc,filter  ( 필터의 경우 컬럼이 많을경우 특정 컬럼가져올경우.)

In [149]:
#필터는 컬럼 뽑는애다 , axis 값이 들어오면 컬럼뽑는애로 변한ㅏ

In [154]:
df[(df['Zhvi']>1000000)&(df['State']=='NY')]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1132,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
2405,2017-05-31,54333,Scarsdale,NY,New York,Westchester,2405,1468100
2619,2017-05-31,47495,Rye,NY,New York,Westchester,2619,1736400
3032,2017-05-31,25725,Manhasset,NY,New York,Nassau,3032,1483400
3064,2017-05-31,18955,Larchmont,NY,New York,Westchester,3064,1052200
3474,2017-05-31,18478,Harrison,NY,New York,Westchester,3474,1031200
3904,2017-05-31,13937,Southampton,NY,New York,Suffolk,3904,1398200
4700,2017-05-31,52907,Lawrence,NY,New York,Nassau,4700,1124600
5682,2017-05-31,40053,North Hills,NY,New York,Nassau,5682,1431800
6386,2017-05-31,53705,Old Westbury,NY,New York,Nassau,6386,2230800
6661,2017-05-31,12894,Muttontown,NY,New York,Nassau,6661,1613400
6736,2017-05-31,17874,East Hills,NY,New York,Nassau,6736,1299300
7728,2017-05-31,194752,Flower Hill,NY,New York,Nassau,7728,1220300
8093,2017-05-31,16387,Sands Point,NY,New York,Nassau,8093,2289600
8317,2017-05-31,35276,Cold Spring Harbor,NY,New York,Suffolk,8317,1164600
8611,2017-05-31,47499,Sag Harbor,NY,New York,Suffolk,8611,1576200
9028,2017-05-31,18963,Lattingtown,NY,New York,Nassau,9028,1184500
9055,2017-05-31,19808,Oyster Bay Cove,NY,New York,Nassau,9055,1649400
9179,2017-05-31,26537,Plandome,NY,New York,Nassau,9179,2024500
9370,2017-05-31,22015,Laurel Hollow,NY,New York,Nassau,9370,1585300
9523,2017-05-31,38975,Hewlett Harbor,NY,New York,Nassau,9523,1304800
9714,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
10203,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
10375,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
10457,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600

In [157]:
filter = df['Metro'].isin(['New York','San Francisco'])    # isin 인 이유는 파이썬 키워드 in 과 혼동할까봐,  
# 뷰티풀수프나, sqlalchemy에서는 _in 을 썻었음 구분을 위해서.

In [158]:
df[filter].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
63,2017-05-31,12970,Newark,NJ,New York,Essex,63,232800
72,2017-05-31,25320,Jersey City,NJ,New York,Hudson,72,380000

In [160]:
df['State'].unique()

array(['NY', 'CA', 'IL', 'PA', 'AZ', 'NV', 'TX', 'FL', 'MI', 'OH', 'TN',
       'NC', 'MA', 'WA', 'MD', 'CO', 'DC', 'WI', 'OR', 'OK', 'NE', 'NM',
       'MO', 'VA', 'GA', 'HI', 'MN', 'LA', 'KS', 'AK', 'KY', 'NJ', 'AL',
       'IN', 'IA', 'ID', 'SC', 'UT', 'AR', 'RI', 'MS', 'CT', 'DE', 'MT',
       'NH', 'ND', 'WY', 'WV', 'ME'], dtype=object)

In [162]:
df[df[['State'].isin(['DC','PA'])]]

AttributeError: 'list' object has no attribute 'isin'

In [163]:
1 in [1,2,3]

True

In [164]:
# in 함수는 true 또는 false 돌려줌 .

In [167]:
df['State'].isin(['DC','PA'])

0        False
1        False
2        False
3         True
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21        True
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10800    False
10801    False
10802    False
10803    False
10804    False
10805    False
10806    False
10807    False
10808    False
10809    False
10810    False
10811    False
10812    False
10813    False
10814    False
10815    False
10816    False
10817    False
10818    False
10819    False
10820    False
10821    False
10822    False
10823    False
10824    False
10825    False
10826    False
10827    False
10828    False
10829    False
Name: State, Length: 10830, dtype: bool

In [168]:
df[df['State'].isin(['DC','PA'])]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
54,2017-05-31,26529,Pittsburgh,PA,Pittsburgh,Allegheny,54,122600
230,2017-05-31,16726,Allentown,PA,Allentown,Lehigh,230,114100
301,2017-05-31,11335,Erie,PA,Erie,Erie,301,78600
327,2017-05-31,41629,West Chester,PA,Philadelphia,Chester,327,389900
355,2017-05-31,397569,Bethlehem Township,PA,Allentown,Northampton,355,258600
395,2017-05-31,6696,Reading,PA,Reading,Berks,395,64200
470,2017-05-31,20398,Scranton,PA,Scranton,Lackawanna,470,78300
478,2017-05-31,17008,Bethlehem,PA,Allentown,Northampton,478,154800
604,2017-05-31,397184,York Township,PA,York,York,604,180400
664,2017-05-31,398816,Lancaster,PA,Lancaster,Lancaster,664,118700
733,2017-05-31,30424,Bensalem,PA,Philadelphia,Bucks,733,238200
789,2017-05-31,397360,Millcreek Township,PA,Erie,Erie,789,156400
793,2017-05-31,397013,Upper Darby Township,PA,Philadelphia,Delaware,793,92900
845,2017-05-31,39416,Levittown,PA,Philadelphia,Bucks,845,219200
857,2017-05-31,11817,Harrisburg,PA,Harrisburg,Dauphin,857,69600
937,2017-05-31,398631,Hempfield Township,PA,Pittsburgh,Westmoreland,937,139800
979,2017-05-31,41815,York,PA,York,York,979,76400
1000,2017-05-31,29058,Penn Hills,PA,Pittsburgh,Allegheny,1000,89000
1049,2017-05-31,217168,Wilkes-Barre,PA,Scranton,Luzerne,1049,51800
1073,2017-05-31,47837,State College,PA,State College,Centre,1073,290000
1103,2017-05-31,398814,Manheim Township,PA,Lancaster,Lancaster,1103,217900
1117,2017-05-31,10806,Chester Township,PA,Philadelphia,Delaware,1117,68700
1219,2017-05-31,15120,Havertown,PA,Philadelphia,Delaware,1219,299500
1299,2017-05-31,40036,Norristown,PA,Philadelphia,Montgomery,1299,133700
1346,2017-05-31,33155,North Huntingdon,PA,Pittsburgh,Westmoreland,1346,144700
1359,2017-05-31,396639,Ross Township,PA,Pittsburgh,Allegheny,1359,175800
1371,2017-05-31,397912,Butler Township,PA,Pittsburgh,Butler,1371,139900
1414,2017-05-31,397097,Middletown Township,PA,Philadelphia,Bucks,1414,309600
...,...,...,...,...,...,...,...,...
10075,2017-05-31,208070,Baidland,PA,Pittsburgh,Washington,10075,145100
10098,2017-05-31,37567,Brickerville,PA,Lancaster,Lancaster,10098,206700
10100,2017-05-31,214067,Oakland,PA,New Castle,Lawrence,10100,60700
10104,2017-05-31,33087,New Oxford,PA,Gettysburg,Adams,10104,143800
10108,2017-05-31,54737,Trevorton,PA,Sunbury,Northumberland,10108,65300
10124,2017-05-31,397475,Londonderry Township,PA,NaN,Bedford,10124,110200
10199,2017-05-31,212557,Lenape Heights,PA,Pittsburgh,Armstrong,10199,113100
10228,2017-05-31,55098,West Brownsville,PA,Pittsburgh,Washington,10228,69300
10233,2017-05-31,13793,Shamokin Dam,PA,Selinsgrove,Snyder,10233,157500
10250,2017-05-31,214406,Pennsbury Village,PA,Pittsburgh,Allegheny,10250,118200
10322,2017-05-31,216081,Stormstown,PA,State College,Centre,10322,315900
10334,2017-05-31,50987,Bessemer,PA,New Castle,Lawrence,10334,72300
10358,2017-05-31,212363,Lake Meade,PA,Gettysburg,Adams,10358,184900
10372,2017-05-31,11703,Green Lane,PA,Philadelphia,Montgomery,10372,277300
10459,2017-05-31,56032,Dunnstown,PA,Lock Haven,Clinton,10459,151100
10461,2017-05-31,43810,Abbottstown,PA,Gettysburg,Adams,10461,146200
10482,2017-05-31,16858,Avonmore,PA,Pittsburgh,Westmoreland,10482,79700
10498,2017-05-31,212360,Lake Heritage,PA,Gettysburg,Adams,10498,204200
10520,2017-05-31,35721,Jonestown,PA,Lebanon,Lebanon,10520,167400
10532,2017-05-31,16338,Topton,PA,Reading,Berks,10532,164600
10573,2017-05-31,210660,Flying Hills,PA,Reading,Berks,10573,132300
10610,2017-05-31,32975,Mount Holly Springs,PA,Harrisburg,Cumberland,10610,136100
10633,2017-05-31,51312,Cecil,PA,Pittsburgh,Washington,10633,198100
10647,2017-05-31,16160,Smethport,PA,Bradford,McKean,10647,77600
10663,2017-05-31,398809,Union Township,PA,New Castle,Lawrence,10663,111000
10670,2017-05-31,35994,Rheems,PA,Lancaster,Lancaster,10670,188900
10698,2017-05-31,397444,London Grove Township,PA,Philadelphia,Chester,10698,321300
10707,2017-05-31,396967,Napier Township,PA,NaN,Bedford,10707,138700
10712,2017-05-31,397405,Highland Township,PA,Gettysburg,Adams,10712,234500
10727,2017-05-31,20695,Sturgeon,PA,Pittsburgh,Allegheny,10727,175900

------------

In [169]:
df[True] # 조건이 들어가야함.

KeyError: True

In [170]:
filter = df.isin({'State':['CA'],'Metro':['San Francisco']}) #in 다음에 dict 가 오면  key 만 체크함.

In [173]:
filter

        Date  RegionID  RegionName  State  Metro  County  SizeRank   Zhvi
0      False     False       False  False  False   False     False  False
1      False     False       False   True  False   False     False  False
2      False     False       False  False  False   False     False  False
3      False     False       False  False  False   False     False  False
4      False     False       False  False  False   False     False  False
5      False     False       False  False  False   False     False  False
6      False     False       False   True  False   False     False  False
7      False     False       False  False  False   False     False  False
8      False     False       False   True  False   False     False  False
9      False     False       False  False  False   False     False  False
10     False     False       False   True   True   False     False  False
11     False     False       False  False  False   False     False  False
12     False     False       False  False  False   False     False  False
13     False     False       False  False  False   False     False  False
14     False     False       False  False  False   False     False  False
15     False     False       False  False  False   False     False  False
16     False     False       False  False  False   False     False  False
17     False     False       False  False  False   False     False  False
18     False     False       False  False  False   False     False  False
19     False     False       False  False  False   False     False  False
20     False     False       False  False  False   False     False  False
21     False     False       False  False  False   False     False  False
22     False     False       False  False  False   False     False  False
23     False     False       False  False  False   False     False  False
24     False     False       False  False  False   False     False  False
25     False     False       False  False  False   False     False  False
26     False     False       False  False  False   False     False  False
27     False     False       False  False  False   False     False  False
28     False     False       False  False  False   False     False  False
29     False     False       False   True  False   False     False  False
...      ...       ...         ...    ...    ...     ...       ...    ...
10800  False     False       False  False  False   False     False  False
10801  False     False       False  False  False   False     False  False
10802  False     False       False  False  False   False     False  False
10803  False     False       False  False  False   False     False  False
10804  False     False       False  False  False   False     False  False
10805  False     False       False  False  False   False     False  False
10806  False     False       False  False  False   False     False  False
10807  False     False       False  False  False   False     False  False
10808  False     False       False   True   True   False     False  False
10809  False     False       False  False  False   False     False  False
10810  False     False       False   True  False   False     False  False
10811  False     False       False  False  False   False     False  False
10812  False     False       False  False  False   False     False  False
10813  False     False       False  False  False   False     False  False
10814  False     False       False  False  False   False     False  False
10815  False     False       False  False  False   False     False  False
10816  False     False       False  False  False   False     False  False
10817  False     False       False   True   True   False     False  False
10818  False     False       False  False  False   False     False  False
10819  False     False       False  False  False   False     False  False
10820  False     False       False  False  False   False     False  False
10821  False     False       False  False  False   False     False  False
10822  False     False       False  False  False   False     False  False
10823  False     False       False  False  False   False     False  False
10824  False     False       False  False  False   False     False  False
10825  False     False       False  False  False   False     False  False
10826  False     False       False  False  False   False     False  False
10827  False     False       False  False  False   False     False  False
10828  False     False       False  False  False   False     False  False
10829  False     False       False  False  False   False     False  False

[10830 rows x 8 columns]

In [172]:
df[filter] # Nan 은 값이 없는것 .

      Date  RegionID RegionName State          Metro County  SizeRank  Zhvi
0      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
1      NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
2      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
3      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
4      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
5      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
6      NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
7      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
8      NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
9      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10     NaN       NaN        NaN    CA  San Francisco    NaN       NaN   NaN
11     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
12     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
13     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
14     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
15     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
16     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
17     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
18     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
19     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
20     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
21     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
22     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
23     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
24     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
25     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
26     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
27     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
28     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
29     NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
...    ...       ...        ...   ...            ...    ...       ...   ...
10800  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10801  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10802  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10803  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10804  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10805  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10806  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10807  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10808  NaN       NaN        NaN    CA  San Francisco    NaN       NaN   NaN
10809  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10810  NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
10811  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10812  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10813  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10814  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10815  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10816  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10817  NaN       NaN        NaN    CA  San Francisco    NaN       NaN   NaN
10818  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10819  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10820  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10821  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10822  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10823  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10824  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10825  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10826  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10827  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10828  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10829  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN

[10830 rows x 8 columns]

In [174]:
df['State'].isin(['DC','PA']) #시리즈가 데이터에 조건으로 들어가면  , 행을뽑는다.

0        False
1        False
2        False
3         True
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21        True
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10800    False
10801    False
10802    False
10803    False
10804    False
10805    False
10806    False
10807    False
10808    False
10809    False
10810    False
10811    False
10812    False
10813    False
10814    False
10815    False
10816    False
10817    False
10818    False
10819    False
10820    False
10821    False
10822    False
10823    False
10824    False
10825    False
10826    False
10827    False
10828    False
10829    False
Name: State, Length: 10830, dtype: bool

In [176]:
df[df['State'].isin(['DC','PA'])] #위의 조건을 넣으면 ,  True 인것들만 출력한다.

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
54,2017-05-31,26529,Pittsburgh,PA,Pittsburgh,Allegheny,54,122600
230,2017-05-31,16726,Allentown,PA,Allentown,Lehigh,230,114100
301,2017-05-31,11335,Erie,PA,Erie,Erie,301,78600
327,2017-05-31,41629,West Chester,PA,Philadelphia,Chester,327,389900
355,2017-05-31,397569,Bethlehem Township,PA,Allentown,Northampton,355,258600
395,2017-05-31,6696,Reading,PA,Reading,Berks,395,64200
470,2017-05-31,20398,Scranton,PA,Scranton,Lackawanna,470,78300
478,2017-05-31,17008,Bethlehem,PA,Allentown,Northampton,478,154800
604,2017-05-31,397184,York Township,PA,York,York,604,180400
664,2017-05-31,398816,Lancaster,PA,Lancaster,Lancaster,664,118700
733,2017-05-31,30424,Bensalem,PA,Philadelphia,Bucks,733,238200
789,2017-05-31,397360,Millcreek Township,PA,Erie,Erie,789,156400
793,2017-05-31,397013,Upper Darby Township,PA,Philadelphia,Delaware,793,92900
845,2017-05-31,39416,Levittown,PA,Philadelphia,Bucks,845,219200
857,2017-05-31,11817,Harrisburg,PA,Harrisburg,Dauphin,857,69600
937,2017-05-31,398631,Hempfield Township,PA,Pittsburgh,Westmoreland,937,139800
979,2017-05-31,41815,York,PA,York,York,979,76400
1000,2017-05-31,29058,Penn Hills,PA,Pittsburgh,Allegheny,1000,89000
1049,2017-05-31,217168,Wilkes-Barre,PA,Scranton,Luzerne,1049,51800
1073,2017-05-31,47837,State College,PA,State College,Centre,1073,290000
1103,2017-05-31,398814,Manheim Township,PA,Lancaster,Lancaster,1103,217900
1117,2017-05-31,10806,Chester Township,PA,Philadelphia,Delaware,1117,68700
1219,2017-05-31,15120,Havertown,PA,Philadelphia,Delaware,1219,299500
1299,2017-05-31,40036,Norristown,PA,Philadelphia,Montgomery,1299,133700
1346,2017-05-31,33155,North Huntingdon,PA,Pittsburgh,Westmoreland,1346,144700
1359,2017-05-31,396639,Ross Township,PA,Pittsburgh,Allegheny,1359,175800
1371,2017-05-31,397912,Butler Township,PA,Pittsburgh,Butler,1371,139900
1414,2017-05-31,397097,Middletown Township,PA,Philadelphia,Bucks,1414,309600
...,...,...,...,...,...,...,...,...
10075,2017-05-31,208070,Baidland,PA,Pittsburgh,Washington,10075,145100
10098,2017-05-31,37567,Brickerville,PA,Lancaster,Lancaster,10098,206700
10100,2017-05-31,214067,Oakland,PA,New Castle,Lawrence,10100,60700
10104,2017-05-31,33087,New Oxford,PA,Gettysburg,Adams,10104,143800
10108,2017-05-31,54737,Trevorton,PA,Sunbury,Northumberland,10108,65300
10124,2017-05-31,397475,Londonderry Township,PA,NaN,Bedford,10124,110200
10199,2017-05-31,212557,Lenape Heights,PA,Pittsburgh,Armstrong,10199,113100
10228,2017-05-31,55098,West Brownsville,PA,Pittsburgh,Washington,10228,69300
10233,2017-05-31,13793,Shamokin Dam,PA,Selinsgrove,Snyder,10233,157500
10250,2017-05-31,214406,Pennsbury Village,PA,Pittsburgh,Allegheny,10250,118200
10322,2017-05-31,216081,Stormstown,PA,State College,Centre,10322,315900
10334,2017-05-31,50987,Bessemer,PA,New Castle,Lawrence,10334,72300
10358,2017-05-31,212363,Lake Meade,PA,Gettysburg,Adams,10358,184900
10372,2017-05-31,11703,Green Lane,PA,Philadelphia,Montgomery,10372,277300
10459,2017-05-31,56032,Dunnstown,PA,Lock Haven,Clinton,10459,151100
10461,2017-05-31,43810,Abbottstown,PA,Gettysburg,Adams,10461,146200
10482,2017-05-31,16858,Avonmore,PA,Pittsburgh,Westmoreland,10482,79700
10498,2017-05-31,212360,Lake Heritage,PA,Gettysburg,Adams,10498,204200
10520,2017-05-31,35721,Jonestown,PA,Lebanon,Lebanon,10520,167400
10532,2017-05-31,16338,Topton,PA,Reading,Berks,10532,164600
10573,2017-05-31,210660,Flying Hills,PA,Reading,Berks,10573,132300
10610,2017-05-31,32975,Mount Holly Springs,PA,Harrisburg,Cumberland,10610,136100
10633,2017-05-31,51312,Cecil,PA,Pittsburgh,Washington,10633,198100
10647,2017-05-31,16160,Smethport,PA,Bradford,McKean,10647,77600
10663,2017-05-31,398809,Union Township,PA,New Castle,Lawrence,10663,111000
10670,2017-05-31,35994,Rheems,PA,Lancaster,Lancaster,10670,188900
10698,2017-05-31,397444,London Grove Township,PA,Philadelphia,Chester,10698,321300
10707,2017-05-31,396967,Napier Township,PA,NaN,Bedford,10707,138700
10712,2017-05-31,397405,Highland Township,PA,Gettysburg,Adams,10712,234500
10727,2017-05-31,20695,Sturgeon,PA,Pittsburgh,Allegheny,10727,175900

In [181]:
df.isin({'State':['CA'],'Metro':["San Francisco"]}) #df 는 시리즈가아니니까 , 여러개의 조건을 넣을 수있따. 이때는 dict 사용하여  조건을 줌.
        #데이터 프레임에 조건을 주었기때문에 데이터 프레임으로 나옴. 
    #컬럼이 한개면 시리즈 , 컬럼이 여러개면 프레임.

        Date  RegionID  RegionName  State  Metro  County  SizeRank   Zhvi
0      False     False       False  False  False   False     False  False
1      False     False       False   True  False   False     False  False
2      False     False       False  False  False   False     False  False
3      False     False       False  False  False   False     False  False
4      False     False       False  False  False   False     False  False
5      False     False       False  False  False   False     False  False
6      False     False       False   True  False   False     False  False
7      False     False       False  False  False   False     False  False
8      False     False       False   True  False   False     False  False
9      False     False       False  False  False   False     False  False
10     False     False       False   True   True   False     False  False
11     False     False       False  False  False   False     False  False
12     False     False       False  False  False   False     False  False
13     False     False       False  False  False   False     False  False
14     False     False       False  False  False   False     False  False
15     False     False       False  False  False   False     False  False
16     False     False       False  False  False   False     False  False
17     False     False       False  False  False   False     False  False
18     False     False       False  False  False   False     False  False
19     False     False       False  False  False   False     False  False
20     False     False       False  False  False   False     False  False
21     False     False       False  False  False   False     False  False
22     False     False       False  False  False   False     False  False
23     False     False       False  False  False   False     False  False
24     False     False       False  False  False   False     False  False
25     False     False       False  False  False   False     False  False
26     False     False       False  False  False   False     False  False
27     False     False       False  False  False   False     False  False
28     False     False       False  False  False   False     False  False
29     False     False       False   True  False   False     False  False
...      ...       ...         ...    ...    ...     ...       ...    ...
10800  False     False       False  False  False   False     False  False
10801  False     False       False  False  False   False     False  False
10802  False     False       False  False  False   False     False  False
10803  False     False       False  False  False   False     False  False
10804  False     False       False  False  False   False     False  False
10805  False     False       False  False  False   False     False  False
10806  False     False       False  False  False   False     False  False
10807  False     False       False  False  False   False     False  False
10808  False     False       False   True   True   False     False  False
10809  False     False       False  False  False   False     False  False
10810  False     False       False   True  False   False     False  False
10811  False     False       False  False  False   False     False  False
10812  False     False       False  False  False   False     False  False
10813  False     False       False  False  False   False     False  False
10814  False     False       False  False  False   False     False  False
10815  False     False       False  False  False   False     False  False
10816  False     False       False  False  False   False     False  False
10817  False     False       False   True   True   False     False  False
10818  False     False       False  False  False   False     False  False
10819  False     False       False  False  False   False     False  False
10820  False     False       False  False  False   False     False  False
10821  False     False       False  False  False   False     False  False
10822  False     False       False  False  False   False     False  False
10823  False     False       False  False  False   False     False  False
10824  False     False       False  False  False   False     False  False
10825  False     False       False  False  False   False     False  False
10826  False     False       False  False  False   False     False  False
10827  False     False       False  False  False   False     False  False
10828  False     False       False  False  False   False     False  False
10829  False     False       False  False  False   False     False  False

[10830 rows x 8 columns]

In [182]:
df['Date']

0        2017-05-31
1        2017-05-31
2        2017-05-31
3        2017-05-31
4        2017-05-31
5        2017-05-31
6        2017-05-31
7        2017-05-31
8        2017-05-31
9        2017-05-31
10       2017-05-31
11       2017-05-31
12       2017-05-31
13       2017-05-31
14       2017-05-31
15       2017-05-31
16       2017-05-31
17       2017-05-31
18       2017-05-31
19       2017-05-31
20       2017-05-31
21       2017-05-31
22       2017-05-31
23       2017-05-31
24       2017-05-31
25       2017-05-31
26       2017-05-31
27       2017-05-31
28       2017-05-31
29       2017-05-31
            ...
10800    2017-05-31
10801    2017-05-31
10802    2017-05-31
10803    2017-05-31
10804    2017-05-31
10805    2017-05-31
10806    2017-05-31
10807    2017-05-31
10808    2017-05-31
10809    2017-05-31
10810    2017-05-31
10811    2017-05-31
10812    2017-05-31
10813    2017-05-31
10814    2017-05-31
10815    2017-05-31
10816    2017-05-31
10817    2017-05-31
10818    2017-05-31
10819    2017-05-31
10820    2017-05-31
10821    2017-05-31
10822    2017-05-31
10823    2017-05-31
10824    2017-05-31
10825    2017-05-31
10826    2017-05-31
10827    2017-05-31
10828    2017-05-31
10829    2017-05-31
Name: Date, Length: 10830, dtype: object

In [183]:
df[['Date']]

             Date
0      2017-05-31
1      2017-05-31
2      2017-05-31
3      2017-05-31
4      2017-05-31
5      2017-05-31
6      2017-05-31
7      2017-05-31
8      2017-05-31
9      2017-05-31
10     2017-05-31
11     2017-05-31
12     2017-05-31
13     2017-05-31
14     2017-05-31
15     2017-05-31
16     2017-05-31
17     2017-05-31
18     2017-05-31
19     2017-05-31
20     2017-05-31
21     2017-05-31
22     2017-05-31
23     2017-05-31
24     2017-05-31
25     2017-05-31
26     2017-05-31
27     2017-05-31
28     2017-05-31
29     2017-05-31
...           ...
10800  2017-05-31
10801  2017-05-31
10802  2017-05-31
10803  2017-05-31
10804  2017-05-31
10805  2017-05-31
10806  2017-05-31
10807  2017-05-31
10808  2017-05-31
10809  2017-05-31
10810  2017-05-31
10811  2017-05-31
10812  2017-05-31
10813  2017-05-31
10814  2017-05-31
10815  2017-05-31
10816  2017-05-31
10817  2017-05-31
10818  2017-05-31
10819  2017-05-31
10820  2017-05-31
10821  2017-05-31
10822  2017-05-31
10823  2017-05-31
10824  2017-05-31
10825  2017-05-31
10826  2017-05-31
10827  2017-05-31
10828  2017-05-31
10829  2017-05-31

[10830 rows x 1 columns]

In [189]:
df.loc[1:3] # 데이터프레임

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300

In [186]:
df.loc[1:3,"Date"] #시리즈 .

1    2017-05-31
2    2017-05-31
3    2017-05-31
Name: Date, dtype: object

In [187]:
df.loc[1:3,["Date"]]

         Date
1  2017-05-31
2  2017-05-31
3  2017-05-31

In [188]:
#다시 데이터프레임. 리스트로 넣었으니까.

In [190]:
#이게 왜중요하냐면 시리즈에서 메소드와 데이터프레임에서 사용할수있는 메소드가 다르기때문에, 저런 테크닉써야함. 
#따라서 loc,iloc 는 데이터프레임 또는 시리즈를 리턴할 수 있다.

In [191]:
#df[조건] 조건중의 참인 것만 보여줌

In [193]:
df[df.isin({'State':['CA'],'Metro':["San Francisco"]})] #df 는 시리즈가아니니까 , 여러개의 조건을 넣을 수있따. 이때는 dict 사용하여  조건을 줌.
        #데이터 프레임에 조건을 주었기때문에 데이터 프레임으로 나옴. 
    #컬럼이 한개면 시리즈 , 컬럼이 여러개면 프레임.

      Date  RegionID RegionName State          Metro County  SizeRank  Zhvi
0      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
1      NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
2      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
3      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
4      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
5      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
6      NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
7      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
8      NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
9      NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10     NaN       NaN        NaN    CA  San Francisco    NaN       NaN   NaN
11     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
12     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
13     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
14     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
15     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
16     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
17     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
18     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
19     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
20     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
21     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
22     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
23     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
24     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
25     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
26     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
27     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
28     NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
29     NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
...    ...       ...        ...   ...            ...    ...       ...   ...
10800  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10801  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10802  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10803  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10804  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10805  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10806  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10807  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10808  NaN       NaN        NaN    CA  San Francisco    NaN       NaN   NaN
10809  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10810  NaN       NaN        NaN    CA            NaN    NaN       NaN   NaN
10811  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10812  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10813  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10814  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10815  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10816  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10817  NaN       NaN        NaN    CA  San Francisco    NaN       NaN   NaN
10818  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10819  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10820  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10821  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10822  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10823  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10824  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10825  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10826  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10827  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10828  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN
10829  NaN       NaN        NaN   NaN            NaN    NaN       NaN   NaN

[10830 rows x 8 columns]

In [194]:
#true 면 보여주는거고 false 면 안보여주는건데 결과물이 이상하다 .

In [195]:
#이것은 나중에 알려주겠다.
#지금은 dataframe 이랑 series 구별하는것

In [198]:
df.axes  # axes 는 row 와 column  정보를 다보여준다 .

[RangeIndex(start=0, stop=10830, step=1),
 Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
        'SizeRank', 'Zhvi'],
       dtype='object')]

In [200]:
len(df.axes)

2

보통 두개면, 앞에것이 row , 뒤의것이 column. 
앞에것은 rangeIndex , 뒤는 컬럼.

In [197]:
df.columns

Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
       'SizeRank', 'Zhvi'],
      dtype='object')

컬럼만 볼때 .

In [203]:
df.axes[1] # 이거와 같다

Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
       'SizeRank', 'Zhvi'],
      dtype='object')

In [204]:
# qgrid 라는것으로 필터링 할 수 도 있다.  https://github.com/quantopian/qgrid

In [205]:
#데이터 프레임은 : 시리즈의 집합  + 인덱스 , 엑시스는 전부다 인덱스로 구성됨.

In [210]:
df.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## axis = 0    ROW

In [208]:
df.mean(axis=0) # axis  = 0 은 행 , 컬럼이 숫자 값일때만 평균이 나온다 .

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

## axis  =1   COILUMNS

In [209]:
df.mean(axis=1) # 평균이 전체 행만큼 갯수.

0        2.261937e+05
1        2.141160e+05
2        8.004267e+04
3        5.019133e+04
4        8.387667e+04
5        7.848800e+04
6        2.088007e+05
7        6.761167e+04
8        3.037490e+05
9        5.919967e+04
10       4.048800e+05
11       1.106107e+05
12       1.975800e+04
13       4.641100e+04
14       3.797500e+04
15       6.928600e+04
16       4.378300e+04
17       1.996287e+05
18       2.287850e+05
19       4.154733e+04
20       1.314377e+05
21       1.991630e+05
22       7.821333e+04
23       3.796633e+04
24       5.743500e+04
25       1.437660e+05
26       5.531700e+04
27       6.409300e+04
28       7.101900e+04
29       7.697733e+04
             ...
10800    9.508133e+04
10801    4.300067e+04
10802    1.580057e+05
10803    1.068157e+05
10804    1.228323e+05
10805    6.629900e+04
10806    1.105600e+05
10807    4.130633e+04
10808    3.759180e+05
10809    3.538200e+04
10810    1.019927e+05
10811    1.388200e+05
10812    1.290823e+05
10813    1.143100e+05
10814    8.952033e+04
10815    5.846233e+04
10816    6.802267e+04
10817    1.078091e+06
10818    6.747400e+05
10819    5.982533e+04
10820    9.091200e+04
10821    6.027767e+04
10822    6.827967e+04
10823    5.111733e+04
10824    4.639033e+04
10825    1.430340e+05
10826    7.561033e+04
10827    3.265717e+05
10828    1.412170e+05
10829    1.196740e+05
Length: 10830, dtype: float64

In [213]:
df.RegionID.max()    # 얘는 axis 0 , axis 1 필요하지않다 . axis 는 2차원에서만 필요함  즉 2차원 데이터프레임에서 들어감. 
#df["RegionID"]같은 시리즈는 1차원임

737791

In [214]:
df.mean(axis='rows')

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

In [218]:
df.mean(axis='columns').head() #이것도 가능

0    226193.666667
1    214116.000000
2     80042.666667
3     50191.333333
4     83876.666667
dtype: float64

In [222]:
df.filter(regex = "Region",axis = 1)  #

       RegionID         RegionName
0          6181           New York
1         12447        Los Angeles
2         17426            Chicago
3         13271       Philadelphia
4         40326            Phoenix
5         18959          Las Vegas
6         54296          San Diego
7         38128             Dallas
8         33839           San Jose
9         25290       Jacksonville
10        20330      San Francisco
11        10221             Austin
12        17762            Detroit
13        10920           Columbus
14        32811            Memphis
15        24043          Charlotte
16        17933            El Paso
17        44269             Boston
18        16037            Seattle
19         3523          Baltimore
20        11093             Denver
21        41568         Washington
22         6118          Nashville
23         5976          Milwaukee
24         7481             Tucson
25        13373           Portland
26        33225      Oklahoma City
27        40152              Omaha
28        23429        Albuquerque
29        18203             Fresno
...         ...                ...
10800     36944       Mount Sidney
10801     44501        Cedar Grove
10802     44615              Clark
10803     44844          Daleville
10804     49693        Piney Point
10805     50692               Almo
10806    171874         Bois D Arc
10807      7512            Tyaskin
10808      8646          Inverness
10809     13137             Otwell
10810     25468        Lake Hughes
10811     25749        Marble Hill
10812     25835               Mead
10813     32017           Hesperus
10814     32847            Midland
10815     46172             Lavaca
10816     46452       Mays Landing
10817     49856      Stinson Beach
10818     54802   Upper Brookville
10819     55357            Decatur
10820      5216         Horse Shoe
10821     12312             Laotto
10822     18317          Goldsboro
10823     19929          Phoenicia
10824     22147              Jones
10825     26077            Nehalem
10826     24105  Clear Lake Shores
10827    737788    Lebanon Borough
10828    182023            Henrico
10829     51793     East Hampstead

[10830 rows x 2 columns]

In [225]:
df.filter(regex='([0-9])',axis=0)   #인덱스가 숫자로 되어있다

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [226]:
netflix =   pd.read_csv('data-netflix.csv',index_col='title') # 타이틀이 인덱스가됨.

In [227]:
netflix

,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
title,,,,,,
White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80
Once Upon a Time,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
Death Note,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2006,77.0,80
Naruto,TV-PG,Parental guidance suggested. May not be suitab...,70,2008,88.0,80
The Hunter,R,language and brief violence,100,2011,NaN,82
Lottie Dottie Chicken,TV-Y,Suitable for all ages.,10,2009,NaN,82
Arrow,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2015,96.0,80
Black Mirror,TV-MA,For mature audiences. May not be suitable for...,110,2016,80.0,80
The Originals,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,74.0,80
The 100,NR,This movie has not been rated.,124,2016,97.0,80
Masha and the Bear,TV-Y,Suitable for all ages.,10,2013,81.0,80
dfdfdf,TV-MA,For mature audiences. May not be suitable for...,110,2007,NaN,82
Nymphomaniac: Volume 1,NR,This movie has not been rated.,124,2013,NaN,82
Hunter X Hunter (2011),NR,This movie has not been rated.,124,2013,57.0,80
Marvel's Luke Cage,TV-MA,For mature audiences. May not be suitable for...,110,2016,95.0,80
Marvel's Iron Fist,TV-MA,NaN,110,2017,98.0,80
Narcos,TV-MA,For mature audiences. May not be suitable for...,110,2016,94.0,80
The Flash,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
The Seven Deadly Sins,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
Scream,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
...,...,...,...,...,...,...
Annie,PG,adult content and mld violence,60,1982,68.0,80
An American Tail: Fievel Goes West,G,General Audiences. Suitable for all ages.,35,1991,NaN,82
D2: The Mighty Ducks,PG,some mild language and rough hockey action,60,1994,70.0,80
"Honey, I Shrunk the Kids",PG,Parental guidance suggested. May not be suitab...,60,1989,80.0,80
The Iron Giant,PG,fantasy action and mild language,60,1999,83.0,80
The Fox and the Hound 2,G,General Audiences. Suitable for all ages.,35,2006,NaN,82
Air Buddies,PG,"some mild, rude humor",60,2006,NaN,82
Dr. Dolittle: Tail to the Chief,PG,brief mild language and some rude behavior,60,2008,NaN,82
Flicka 2,PG,some reckless behavior,60,2010,NaN,82
H2O: Just Add Water,TV-PG,Parental guidance suggested. May not be suitab...,70,2009,74.0,80
The Gruffalo,TV-Y,Suitable for all ages.,10,2009,NaN,82
Dolphin Tale,PG,some mild thematic elements,60,2011,NaN,82
Pound Puppies,TV-Y,Suitable for all ages.,10,2013,NaN,82
Beverly Hills Chihuahua 3: Viva La Fiesta!,G,General Audiences. Suitable for all ages.,35,2012,NaN,82
The Magic School Bus,TV-Y,Suitable for all ages.,10,1997,81.0,80
Step Dogs,TV-PG,Parental guidance suggested. May not be suitab...,70,2013,NaN,82
Poketmon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
Mia and Me,TV-Y,Suitable for all ages.,10,2015,NaN,82
Paddington,PG,mild action and rude humor,60,2014,70.0,80
Russell Madness,PG,some rude humor and sports action,60,2015,NaN,82
My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
Growing Up Wild,G,NaN,35,2016,80.0,80

In [244]:
netflix.filter(regex='Anato',axis=0)

,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
title,,,,,,
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80

In [234]:
#이럴때 정규식을 쓴다.

In [237]:


data  = pd.read_csv('data-zillow.csv')

In [238]:
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

In [245]:
# sqlite 
# ORM 웹시스템도 만들고 , 분석할때 쓸수있다. sql 모르는사람은 orm 쓰니까
# 몽고db 도 판다스에서 불러올 수 있다.

#정규식 쓸거지만 쉬운방법도 써보자 .

## Check for a Substring

In [247]:
data.info() #pandas 에서 object 라고 나온것은 대부분문자열이다 예외: 시간관련된것
#문자열은 regrex 로 해결함.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10830 entries, 0 to 10829
Data columns (total 8 columns):
Date          10830 non-null object
RegionID      10830 non-null int64
RegionName    10830 non-null object
State         10830 non-null object
Metro         10256 non-null object
County        10830 non-null object
SizeRank      10830 non-null int64
Zhvi          10830 non-null int64
dtypes: int64(3), object(5)
memory usage: 677.0+ KB

In [251]:
data.RegionName.str.capitalize  # data.RegionName 은 attr 방식으로 뽑아낸 시리즈 .  obj 경우 .str 을쓰면.  str 배웠을떄 쓸수있는 .str 하면 문자열에관한 help function을 지원해줌.

In [253]:
data['RegionName'].str  # 이렇게해도 되는데  , 자동완성이 안됨. 주피터 노트북의 버그랑 비슷함. 자동완성인데안나옴.  따라서 attribute 방식을 많이씀 자동완성으로 나와서.

In [254]:
#bound method 는 () 이거 써야한다.

In [257]:
data.RegionName.str.capitalize()

0                 New york
1              Los angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las vegas
6                San diego
7                   Dallas
8                 San jose
9             Jacksonville
10           San francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma city
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount sidney
10801          Cedar grove
10802                Clark
10803            Daleville
10804          Piney point
10805                 Almo
10806           Bois d arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake hughes
10811          Marble hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays landing
10817        Stinson beach
10818     Upper brookville
10819              Decatur
10820           Horse shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear lake shores
10827      Lebanon borough
10828              Henrico
10829       East hampstead
Name: RegionName, Length: 10830, dtype: object

In [260]:
data["RegionName"].str.upper() # 자동완성 안되는거지만 똑같다.

0                 NEW YORK
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

In [261]:
#attr 방식은 단점이  컬럼명에 공백이있을때 안된다 .

In [262]:
data["RegionName"] =  data["RegionName"].str.upper()

In [264]:
data.head() #대문자로 바뀐것을 확인한다

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,NEW YORK,NY,New York,Queens,0,672400
1,2017-05-31,12447,LOS ANGELES,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,CHICAGO,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,PHILADELPHIA,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,PHOENIX,AZ,Phoenix,Maricopa,4,211300

In [266]:
data.RegionName.str.replace("YORK","york!") #object 형일때 문자형에 관한거 쓰려면 .str  을쓴다. 여기도 인자에 regex 가 나온다!!!

0                NEW york!
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

In [268]:
data.RegionName.str #str 함수들을 대부분다 가져온 것이다 차이점은 :  함수형 기법으로 만들어져있다. 컬럼을 돌아다니면서 모두 바꿔주니까 . 
#함수형기법에서 가장 많이 쓰이는것 , map,filter,reduce.

In [269]:
data.RegionName.map(lambda x : x +'정유미')

0                 NEW YORK정유미
1              LOS ANGELES정유미
2                  CHICAGO정유미
3             PHILADELPHIA정유미
4                  PHOENIX정유미
5                LAS VEGAS정유미
6                SAN DIEGO정유미
7                   DALLAS정유미
8                 SAN JOSE정유미
9             JACKSONVILLE정유미
10           SAN FRANCISCO정유미
11                  AUSTIN정유미
12                 DETROIT정유미
13                COLUMBUS정유미
14                 MEMPHIS정유미
15               CHARLOTTE정유미
16                 EL PASO정유미
17                  BOSTON정유미
18                 SEATTLE정유미
19               BALTIMORE정유미
20                  DENVER정유미
21              WASHINGTON정유미
22               NASHVILLE정유미
23               MILWAUKEE정유미
24                  TUCSON정유미
25                PORTLAND정유미
26           OKLAHOMA CITY정유미
27                   OMAHA정유미
28             ALBUQUERQUE정유미
29                  FRESNO정유미
                 ...
10800         MOUNT SIDNEY정유미
10801          CEDAR GROVE정유미
10802                CLARK정유미
10803            DALEVILLE정유미
10804          PINEY POINT정유미
10805                 ALMO정유미
10806           BOIS D ARC정유미
10807              TYASKIN정유미
10808            INVERNESS정유미
10809               OTWELL정유미
10810          LAKE HUGHES정유미
10811          MARBLE HILL정유미
10812                 MEAD정유미
10813             HESPERUS정유미
10814              MIDLAND정유미
10815               LAVACA정유미
10816         MAYS LANDING정유미
10817        STINSON BEACH정유미
10818     UPPER BROOKVILLE정유미
10819              DECATUR정유미
10820           HORSE SHOE정유미
10821               LAOTTO정유미
10822            GOLDSBORO정유미
10823            PHOENICIA정유미
10824                JONES정유미
10825              NEHALEM정유미
10826    CLEAR LAKE SHORES정유미
10827      LEBANON BOROUGH정유미
10828              HENRICO정유미
10829       EAST HAMPSTEAD정유미
Name: RegionName, Length: 10830, dtype: object

In [270]:
data.RegionID.map(lambda x:x.format(".4d")) #함수형 기법인 map 은 들어오는것을 하나씩 바꿔준다 . 컬럼에 있는 값 하나씩  다 바꿔줌.

AttributeError: 'int' object has no attribute 'format'

In [271]:
data['새로운컬럼'] = data.County.str.len()

In [272]:
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,새로운컬럼
0,2017-05-31,6181,NEW YORK,NY,New York,Queens,0,672400,6
1,2017-05-31,12447,LOS ANGELES,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900,11
2,2017-05-31,17426,CHICAGO,IL,Chicago,Cook,2,222700,4
3,2017-05-31,13271,PHILADELPHIA,PA,Philadelphia,Philadelphia,3,137300,12
4,2017-05-31,40326,PHOENIX,AZ,Phoenix,Maricopa,4,211300,8

In [273]:
# 내가 필요한 데이터가 없을 확률이 많다.

In [274]:
data.RegionName.str.replace('','') #공백을 없에줌

0                 NEW YORK
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object